[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bluepy = "*"
numpy = "*"
scipy = "*"
tqdm = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.8"
